<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>
        <%- include partials/header %>
        <div class="login">
            <h2>Log In With</h2>
            <a href="google" class="google">Google+</a>
            <a href="facebook" class="facebook">Facebook</a>
            <a href="github" class="github">GitHub</a>
        </div>
    </body>
</html>